# add words and their texture by following syntax:
# word = banana, banana.bmp (texture in images folder)

# group name

name = fruits
word = banana , banana.bmp
word = apple , apple.bmp
word = orange , orange.bmp
word = raspberry, raspberry.bmp
word = watermelon, watermelon.bmp
word = melon, melon.bmp
word = carrot, carrot.bmp
word = strawberry, strawberry.bmp
word = blueberry, blueberry.bmp